body {
  counter-reset: Serial;
}


.pdf-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.pdf-popup iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.close-btn {
  font-size: 65px;
  float: right;
  color: red;
}



table {

  margin: auto;
  border-collapse: collapse;
  width: 85%;
  /*! max-width: 800px; */
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ddd;
}

table th {
  background-color: #c0bdbd;
}

table caption {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  caption-side: top;
}

table thead th {
  text-align: center;
}

table tbody tr:hover {
  background-color: #d8d8d8;
}

/* 
tr td:first-child:before {
  counter-increment: Serial;
  content: counter(Serial);

} */


tr>td:nth-child(1) {
  text-align: center;
}



tr>td:nth-child(2) {
  text-align: center;
}


tr>td:nth-child(3) {
  text-align: center;
}


tr>td:nth-child(4) {
  text-align: center;
}



tr>td:nth-child(5) {
  text-align: center;
}



tr>td:nth-child(6) {
  text-align: center;
}



tr>td:nth-child(7) {
  text-align: center;
}



tr>td:nth-child(8) {
  text-align: center;
}



tr>td:nth-child(9) {
  text-align: center;
}


tr>td:nth-child(7) button {
  background: #3bff63;
  width: 80px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

tr>td:nth-child(9) button {
  background: #3ba3ff;
  width: 80px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;

}


tr>td:nth-child(9) button:hover {

  border-radius: 0px;
  background: #ff0048;


}



tr>td:nth-child(7) button:hover {

  border-radius: 0px;
  background: #ff0048;
}



#addProperty {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: auto;
  margin-top: 20px;
  padding: 20px 0px 0px 10px;
  border: 1px solid;
  background-color: oldlace;
}


#addProperty h3 {
  position: relative;
  top: -20px;
  text-align: center;
  text-decoration: underline;
}


.colonInForm {
  width: 0px !important;
  margin: 0 12px 0 -10px !important;
  ;
}


#notifyUser {
  width: fit-content;
  margin: auto;
  display: none;
  margin-top: 15px;
  margin-bottom: -7px;
}


#prompt-container-backcover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cdcbc9e0;
  z-index: 9999;
  text-align: center;
  padding-top: 15%;
}

#prompt-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  width: 400px;
}

#prompt-container label {
  display: block;
  margin-bottom: 10px;
}

#prompt-container input {
  width: 100%;
  margin-bottom: 10px;
}

#prompt-container button[id="prompt-ok"] {
  width: 100px;
  background-color: #36ff2f;
  color: white;
  font-size: 20px;
  margin-right: 19px;
  padding: 0px 10px;

}

#prompt-container button[id="prompt-cancel"] {
  background-color: #e61313;
  color: white;
  font-size: 20px;
  padding: 0px 20px;
}