/* CSS  for Table */
body {
  counter-reset: Serial;
}


table {
  margin: auto;
  border-collapse: collapse;
  width: 85%;
  margin-bottom: 50px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table caption {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  caption-side: top;
}

table thead th {
  text-align: center;
}



tr td:first-child:before {
  counter-increment: Serial;
  content: counter(Serial);

}


tr>td:nth-child(1) {
  text-align: center;
}



tr>td:nth-child(2) {
  text-align: center;
}


tr>td:nth-child(3) {
  text-align: center;
}


tr>td:nth-child(4) {
  text-align: center;
}



tr>td:nth-child(5) {
  text-align: center;
}



tr>td:nth-child(6) {
  text-align: center;
  font-size: 17px;
}



tr>td:nth-child(7) {
  text-align: center;
}



tr>td:nth-child(8) {
  text-align: center;
}






#notifyUser {
  width: fit-content;
  margin: auto;
  display: none;
  margin-top: 20px;
margin-bottom: 5px;
}




.saleTerminated{
  color: gray;
}

.saleClosed{
  color: gray;
}

.cancelPurchaseRequestSentToSellerButton{
  background: #ff3b3b;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 10px;
}


.rerequestPurchaseRequestButton{
  background: #41ff3b;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  padding: 3px 10px;
}

.makePaymentButton{
  background: #09ff00;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  padding: 3px 10px;
}

.rejectingAcceptanceRequestByBuyerButton{
  background: #fc7610;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 10px;
}


.cancelPurchaseRequestSentToSellerButton:hover,
.rerequestPurchaseRequestButton:hover,
.makePaymentButton:hover,
.rejectingAcceptanceRequestByBuyerButton:hover{
  border-radius: 0px;
  box-shadow: 2px 2px 2px gray;
}

.saleIsNotActive{
  color: gray;
}



/* prompt container */

#prompt-container-backcover{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cdcbc9e0;
  z-index: 9999;
  text-align: center;
  padding-top: 15%;
}

#prompt-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  width: 400px;
}

#prompt-container label {
  display: block;
  margin-bottom: 10px;
}

#prompt-container input {
  width: 100%;
  margin-bottom: 10px;
}

#prompt-container button[id="prompt-ok"] {
  width: 100px;
background-color: #36ff2f;
color: white;
font-size: 20px;
margin-right: 19px;
padding: 0px 10px;
 
}

#prompt-container button[id="prompt-cancel"] {
  background-color: #e61313;
  color: white;
  font-size: 20px;
  padding: 0px 20px;
}
